.jumbotron{
    padding: 300px;
    background-image: url("https://hypebeast.imgix.net/http%3A%2F%2Fhypebeast.com%2Fimage%2F2016%2F04%2Fonly-pro-keds-2.jpg?fit=max&fm=pjpg&ixlib=php-1.1.0&q=90&w=1170&s=542c92db4cd09a48872fcffde7ca53c5");
    text-align: center;
    color: white

}
